# Build output
.build/
build/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Java
*.class
*.jar
*.war
